<div class="chat-section">

  {% if friend %}
  <div class="chat-header">
    <div class="chat-header-left">
      <div class="friend-avatar"></div>
      <div>
        <div class="chat-user-name">{{ friend.username }}</div>
      </div>
    </div>
  </div>
  <div id="chat-box" class="chat-box">
    {% for message in messages %}
    <div class="message {% if message.sender == user %}sent{% else %}received{% endif %}">
      <p><strong>{{ message.sender.username }}:</strong> {{ message.content }}</p>
      <small>{{ message.timestamp }}</small>
    </div>
    {% endfor %}
  </div>
  <form action="{% url 'send_message' friend.id %}" method="POST">
  {% csrf_token %}
  <div class="chat-input-section">
      <input
          type="text"
          name="content"
          class="chat-input"
          placeholder="Type your message..."
          aria-label="Message input"
          required />

      <div class="buttons-container"> 
        <button type="submit" class="send-button" aria-label="Send message">
          <svg viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 21l21-9L2 3v7l15 2-15 2v7z" />
          </svg>
        </button>
      </div>
  </div>
  </form>
  {% else %}
  <p class="select-a-friend">Please select a friend to start chatting.</p>
  {% endif %}

</div>






